/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import '../node_modules/icheck-bootstrap/icheck-bootstrap.min.css';
@import 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';
@import './styles/css/adminlte.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

.overlay-wrapper {
    position: relative;
    .overlay {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        flex-direction: column;    
    }
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
